.left-div {
    float: left;
    width: 150px;
    margin-right: 8px;
}
.right-div {
    margin-left: 150px;
}
#Banner{
    font-size: 30px;
}
#NavBody{
    margin: 30px;
}

#text{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

#body{
    text-align: center;
}

.slideshow{
    margin: auto;
    max-width: 600px;
}
html{
    min-width: 850px;
}

.content{
      text-align: center;
      margin:10px;
}

img{
    max-width: 600px;
    height: auto;
}

video{
  max-width: 600px;
    height: auto;  
}

#TopBorder{
    text-align: left;
}
#Banner{
    padding-left: 100px;
}

#Bannerimg{
    height: auto;
    width: 500px;
}