@import url(https://fonts.googleapis.com/css?family=Dosis);

#NavBody{
    background-color: #333333;
}

#body{
  background-color: #333333;  
}
html{
        font-family: 'Dosis', sans-serif;
        color: white;
        background-image: url("backgroud.png");
}

a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: #cc0066;
}