/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2015, 7:19:55 PM
    Author     : Calvin Kwok
*/

h1{
  background-color: rgb(255,255,0);
    text-indent: 50px;
    font-family: serif;
    font-size: 50px;
    
}

p{
    text-align: center;
}

button {
 //background-image: url(/img/icons/Next.png);
 
 // background-repeat: no-repeat;
 // background-position: 50% 50%;
 //background: 
 
  height: 50px;
  width: 50px;
 // border: none;
}
.PIC{
    alignment-baseline: central;
   height: 425px;
   width: auto;

}
.Caption{
    text-align: center;
    font-family: serif;
    font-size: 40px;
    background-color: rgb(100,100,255);
   // max-width: 700px;
    height: 80px;
}
body{
    background-color: rgb(75,75,255); 
}