/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2015, 7:19:55 PM
    Author     : Calvin Kwok
*/


p{
    text-align: center;
}

button {
 
  height: 50px;
  width: 50px;
}
.PIC{
    alignment-baseline: central;
   height: 425px;
   width: auto;

}
.Caption{
    text-align: center;
    font-family: serif;
    font-size: 40px;
    background-color: rgb(100,100,255);
   // max-width: 700px;
    height: 80px;
}
