@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

#NavBody{
    background-color: #66ccff;
}

html{
        font-family: 'Oleo Script', cursive;
        background-color: #66ff66;
}

#body{
    background-color: pink;
}
